@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

h1 {
    font-family: 'Rowdies', cursive;
    font-size: 46px;
    text-align: center;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}
ul {
    column-count: 3;
}
.World-map {
    width: 100%
}

.flag {
    width: 30px;
    display: inline-block;
}